body
{
	font:'Source Code Pro',monospace;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	top:15%;
	background:linear-gradient(to right,#ffffff,#0d018a);
}
h1
{
	font-style: 'Source Code Pro',monospace;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .05em;
	width: 100%;
}
h3
{
	font:900 1em 'Source Code Pro',monospace;
	color:rgba(0,0,0,.5);
	text-align: center;
	text-transform: none;
	letter-spacing: 0.01em;
}
.btn
{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}


.svg-icon {
  width: 30px;
  height: 30px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.color1,.color2
{
	border:none;
	padding: 0px;
}
footer
{
	position: relative;
	top :calc(50% - 48px);
}
@media only screen and (max-width: 600px) {
	h1
	{
		font-size: 10vw;
		letter-spacing: 0.02em;
	}
	h2
	{
		letter-spacing: 0.02em;
		font-size: 5vw;
	}
}