body
{
	font-family: 'Source Code Pro',monospace;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	top:15%;
	background:linear-gradient(to right,#ffffff,#0d018a);
}
h1
{
	font-size: 5vw;
	font-family: 'Source Code Pro',monospace;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .05em;
	width: 100%;
}
h2
{
	font-size: 3.5vw;
}
h3
{
	font-family: 900 1em 'Source Code Pro',monospace;
	font-size: 2vw;
	color:rgba(0,0,0,.5);
	text-align: center;
	text-transform: none;
	letter-spacing: 0.01em;
}
.btn
{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.color1,.color2
{
	border:none;
	padding: 0px;
}
@media only screen and (max-width: 600px) {
	h1
	{
		font-size: 8vw;
		letter-spacing: 0.02em;
	}
	h2
	{
		letter-spacing: 0.02em;
		font-size: 5vw;
	}
	h3
	{
		font-size: 3.5vw;

	}
}
@media only screen and(max-width:200px)
{
	h1
	{
		font-size: 6vw;
	}
	h3
	{
		font-size: 5vw;
	}
}
div
{
	margin: 4vw;
}